@use '../../styles/theme';

.footer {
  margin-top: auto;
  padding: 24px 0;

  &__wrapper {
    @include theme.wrap-section;
  }
  @include theme.themed {
    .footer {
      background-color: theme.t('text');
      &__title-link {
        color: theme.t('text');
      }

      &__navlink {
        color: theme.t('text');
        background-image: linear-gradient(theme.t('text'), theme.t('text'));

        &:hover {
          color: theme.t('bg');
        }
        &:focus,
        &:active {
          color: theme.t('bg');
          outline: 1px solid theme.t('text');
        }
      }

      &__navlink-active {
        background-image: linear-gradient(theme.t('text'), theme.t('text'));
        color: theme.t('bg');
        outline: 1px solid theme.t('text');
      }
    }
  }
}
