$primary: #ffffff;
$primary-dark: #cccccc;

$secondary: #3b3f45;
$secondary-light: #546172;
$secondary-dark: #011120;

$color-100: #F7E4E5;
$color-200: #EFE7E8;
$color-300: #CCB1B3;
$color-400: #E3ACB0;
$color-500: #f45b69;

$warning: #fa4141;

$highlight: #0000FF;



