@use '../../styles/theme';

$headerSize: 150px;

.header {
  background-color: theme.$color-200;
  height: $headerSize;
  position: sticky;
  z-index: 9999;
  top: 0;
  display: flex;
  align-items: center;
  &__wrapper {
    @include theme.wrap-section;
    display: flex;
    align-items: stretch;
  }

  &__itemCenter {
    flex: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    @include theme.lg() {
      margin-left: unset;
      margin-right: auto;
      flex-direction: row;
    }
  }


  &__title {
    font-family: theme.$logo-font;
    color: theme.$primary;
    font-size: clamp(3rem, 5.2vw, 8rem);
    transition: all 0.25s cubic-bezier(0.95, 0.05, 0.795, 0.035);

    &:hover,
    &:focus,
    &:active {
      color: theme.$highlight;
      color: theme.$highlight;
    }
  }

  &__nav {
    @include theme.wrap-section;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: theme.$primary;
    max-height: calc(100vh - #{$headerSize});
    overflow: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    @include theme.lg() {
      flex-direction: row;
    }
  }

  &__navlink {
    padding: 12px;
    font-size: theme.$header4;
    font-family: theme.$header-font;
    color: theme.$primary;
    transition: all 0.5s cubic-bezier(1, 0.1, 0.1, 1);
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 0 100%;
    &:hover,
    &:focus,
    &:active {
      background-size: 100% 100%;
      color: theme.$highlight;
    }
  }
}
