@use '../../styles/theme';

.banner {
  background-color: theme.$secondary-dark;
  color: theme.$primary;

  &__wrapper {
    @include theme.wrap-section;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  &__heading {
    color: theme.$highlight;
    font-family: theme.$text-font;
    font-size: theme.$header2;
    font-weight: 600;
  }

  &__subtext {
    color: theme.$primary;
    font-family: theme.$header-font;
    font-size: theme.$header4;
    font-weight: 100;
  }

  &__form {
  }

  &__formInput {
    justify-self: stretch;
    font-family: theme.$text-font;
    font-size: 18px;
    padding-left: 30px;
    width: 600px;
    height: 50px;
    left: 156px;
    top: 215px;

    &:focus {
      background: theme.$highlight;
      color: theme.$secondary-dark;
      outline: none;
      transition-duration: 0.3s;
    }
  }

  &__formBtn {
    justify-self: left;
    background: theme.$color-300;
    border: 1px solid theme.$secondary;
    color: theme.$color-400;
    font-family: theme.$header-font;
    font-weight: 100;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    height: 50px;
    left: 989px;
    top: 215px;

    &:hover {
      background: theme.$highlight;
      color: theme.$secondary;
      transition-duration: 0.3s;
      outline: none;
    }
  }
}
